ul{
    list-style: none;
}
li{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    padding: 1rem;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}
li button{
    background-color: white;
}
.list-item{
    border: none;
    background: white;
    
}